@font-face {
  font-family: "SignWriting 2010";
  src: 
    local('SignWriting 2010'),
    local('SignWriting_2010'),
    url('https://cdn.rawgit.com/Slevinski/signwriting_2010_fonts/master/fonts/SignWriting%202010.ttf') format('truetype');
}
@font-face {
  font-family: "SignWriting 2010 Filling";
  src: 
    local('SignWriting 2010 Filling'),
    local('SignWriting_2010_Filling'),
    url('https://cdn.rawgit.com/Slevinski/signwriting_2010_fonts/master/fonts/SignWriting%202010%20Filling.ttf') format('truetype');
}
